In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
import warnings
warnings.filterwarnings('ignore')
pd.set_option('max_column', None)
df_engagement = pd.read_csv('../data/engagement_clusters.csv', na_values=['?', None, 'undefined'])
df_engagement.sample(5)

       MSISDN/Number  Bearer Id  Dur. (ms)    Total Data  cluster
3735     33610670203          2    49514.0  1.040557e+09        0
64111    33666914415          1    86399.0  7.043859e+08        1
53086    33663616195          1   106875.0  2.004201e+08        1
12716    33625119623          1   178731.0  6.391717e+08        1
47165    33662164045          1    86399.0  3.921705e+08        1

In [13]:
df_experience = pd.read_csv('../data/experience_clusters.csv', na_values=['?', None, 'undefined'])
df_experience.sample(5)

,MSISDN/Number,Total RTT,Total TCP retransmission,Total Throughput,Handset Type,encoded,cluster
16919,33662661548,683.0,9908765.0,2588.0,Huawei B528S-23A,232,1
10594,33658963649,61.0,14807.0,31158.0,Apple iPhone 5S (A1533),39,1
21108,33665547083,90.0,550403.0,66314.0,Huawei B528S-23A,232,1
32539,33760903810,39.0,1509.0,27695.0,Apple iPhone Xs Max (A2101),73,1
419,33605724906,149.0,107924.0,16793.0,Samsung Galaxy S8 (Sm-G950F),725,0

In [14]:
# how many missing values exist or better still what is the % of missing values in the dataset?
def percent_missing(df):

    # Calculate total number of cells in dataframe
    totalCells = np.product(df.shape)

    # Count number of missing values per column
    missingCount = df.isnull().sum()

    # Calculate total number of missing values
    totalMissing = missingCount.sum()

    # Calculate percentage of missing values
    print("The dataset contains", round(((totalMissing/totalCells) * 100), 2), "%", "missing values.")

percent_missing(df_engagement)
percent_missing(df_experience)

The dataset contains 0.0 % missing values.
The dataset contains 0.0 % missing values.

In [22]:
less_engaged_centroid = df_engagement[df_engagement['cluster'] == 0].groupby('cluster').mean()
(float(less_engaged_centroid['Bearer Id']) - 2)

0.18288934426229497

In [17]:
def compute_engagement_score(df,centroid):
    x = float(less_engaged_centroid['Bearer Id'])
    y = float(less_engaged_centroid['Dur. (ms)'])
    z = float(less_engaged_centroid['Total Data'])
    df['engagement score'] = (np.df['Bearer Id'] - x)**2 + (np.df['Bearer Id'] - x)**2 + (np.df['Bearer Id'] - x)**2

0        -1
1        -1
2        -1
3        -1
4        -1
         ..
106466   -1
106467    0
106468   -1
106469   -1
106470   -1
Name: Bearer Id, Length: 106471, dtype: int64